* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* desplazamiento de pagina control*/
    scroll-behavior: smooth;
}

.img {
    max-width: 85%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #e2e0e0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-size: 90%;
    flex-direction: column;
    cursor: crosshair;
    position: relative;
}


/* cabecera principal */

.cabeceraPrincipal {
    background-color: rgb(148, 250, 46);
    color: rgb(47, 83, 10);
    width: 100%;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "seccionCabecera actions" "seccionCabcera buscador";
    place-items: center;
}

.cabeceraPrincipal img {
    width: 80px;
}

.cabeceraPrincipal .seccionCabecera {
    grid-area: seccionCabecera;
    margin: 50px;
    position: relative;
    font-size: 40px;
}

.cabeceraPrincipal .seccionCabecera {
    grid-area: actions;
    justify-self: end;
}

.cabeceraPrincipal .buscador {
    grid-area: buscador;
    justify-self: end;
}


/*  -------------- FIN Cabecera principal  ------------------*/


/*  -------------- Seccion cabcera ------------------*/

.seccionCabecera a {
    font-weight: 10;
    color: cadetblue;
    text-decoration: none;
}

.seccionCabeceras a:not(:last-child) {
    padding-right: 2px;
    margin-right: 2px;
    border-right: 1px solid teal;
}


/*  -------------- FIN Seccion cabecera  ------------------*/


/*  -------------- Barra de busqueda  ------------------*/

.barra-busqueda {
    display: flex;
    align-items: right;
    justify-content: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra-busqueda input {
    min-width: 30%;
    padding: 0 14px;
    height: 33px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.barra-busqueda button {
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background-color: #f8f8f8;
    padding: 0 20px;
    cursor: pointer;
}

.barra-busqueda button:hover {
    background-color: #f1f1f1;
}


/*  -------------- FIN Barra de busqueda  ------------------*/


/* Menu principal*/

nav.menuPrincipal {
    z-index: 1200;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: sticky;
    display: flex;
    /* especificamos como colocams los itemns que se encuentran dentro de flex */
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    /* agregar sombras a las cjas o cotenedores */
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .24);
}

nav.menuPrincipal a:hover {
    background-color: #000;
    color: #ffffff;
}


/*  -------------- FIN Menu Principal  ------------------*/


/* Galeria*/

section.galeriaPrinicpal {
    margin-top: 1px;
    cursor: move;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 8, 207);
    overflow: hidden;
}

section.galeriaPrinicpal img {
    width: 100%;
}


/*  -------------- FIN Galeria  ------------------*/


/* Noticias*/

main {
    position: relative;
    padding-bottom: 35px;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
}

section.articulo {
    width: 48%;
    display: inline-block;
}

section.noticias {
    display: flex;
    background: #ffffff;
    text-align: justify;
}

.noticias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticias .contenedor-texto {
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticias .contenedor1 {
    width: 95%;
}

.noticias .titulo {
    margin-bottom: 10px;
    font-size: 25px;
}

.noticias .fecha {
    font-size: 15px;
    color: #868686;
    margin-bottom: 10px;
}

.noticias .extracto {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #868686;
}

.btn-link {
    background: #2a2929;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #000;
}


/*  -------------- FIN Nticias  ------------------*/


/*estilos sponsosr*/

aside.sponsor {
    height: 400%;
    width: 90%;
    padding: 4em;
    margin-top: 4px;
    margin: 5px;
    display: inline-flexboxin;
    text-align: center;
    margin-left: 10px;
    background-color: rgb(56, 59, 56);
}

section.sponsor1 {
    height: 100px;
    width: 17%;
    border-style: solid;
    float: left;
    text-align: center;
}

section.sponsor2 {
    margin: 0 auto;
    height: 100px;
    width: 17%;
    border-style: solid;
    float: left;
    margin-left: 12px;
    text-align: center;
}

section.sponsor3 {
    margin: 0 auto;
    height: 100px;
    width: 20%;
    border-style: solid;
    float: left;
    margin-left: 12px;
    text-align: center;
}

section.sponsor4 {
    margin: 0 auto;
    height: 100px;
    width: 20%;
    border-style: solid;
    float: left;
    margin-left: 12px;
    text-align: center;
}

section.sponsor5 {
    margin: 0 auto;
    height: 100px;
    width: 20%;
    float: left;
    margin-left: 12px;
    border-style: solid;
    text-align: center;
}

.sponsor__img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}


/*----------Estilos del footer----------------------*/

.sociales {
    width: 100%;
    text-align: center;
}

footer.piePagina {
    margin-top: 2em;
    text-align: right;
    height: 10%;
    background-color: rgb(126, 121, 121);
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

footer.piePagina h5 {
    padding: 1em 2em;
}


/* responsive de paginas*/

@media (max-width:480px) {
    .body {
        max-width: 100%;
        height: auto;
    }
    .cabeceraPrincipal {
        max-width: 100%;
        height: auto;
    }
    .menuPrincipal {
        display: block;
        font-size: 17px;
    }
    .galeriaPrinicpal {
        display: block;
        bottom: 3px;
        font-size: 17px;
    }
    .aside.sponsor {
        display: block;
        bottom: 3px;
        font-size: 17px;
    }
    .contenedor-texto {
        width: 90%;
    }
    .aside.sponsor h4 {
        font-size: 40px;
    }
    .sociales {
        width: auto;
        padding: 20px;
    }
    footer.piePagina {
        justify-content: space-between;
    }
}