*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e2e0e0
}
header.cabeceraPrincipal, nav.menuPrincipal, section.galeria{
	background-color: rgb(148, 250, 46);
	color: rgb(47, 83, 10);
	width: 90%;
	margin: 0 auto;

}
header.cabeceraPrincipal h1{
	padding: 1em;
	width: 20%;
	display: inline-block;
}

section.seccionCabecera{
	width: 70%;
	display: inline-block;
	text-align: right;
}
nav.menuPrincipal{
	margin-top: 2px; 
}
nav.menuPrincipal div{
	padding: 1em;
	text-align: center;
}
section.galeria{
	margin-top: 2px;
	height: 450px;
}